<table >
    <thead>
      <tr>
        <td>Person information</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> ID </td>
        <td> {{ data.response_table.query_result[0]['person_id'] }} </td>
      </tr>  
      <tr>
        <td> Name </td>
        <td> {{ data.response_table.query_result[0]['PersonName'] }} </td>
      </tr>
      <tr>
        <td> Documento </td>
        <td> {{ data.response_table.query_result[0]['document_id'] }} </td>
      </tr>
      <tr>
        <td> Email </td>
        <td> {{ data.response_table.query_result[0]['email'] }} </td>
      </tr>
      <tr>
        <td> Cargo </td>
        <td> {{ data.response_table.query_result[0]['PositionName'] }} </td>
      </tr>
      <tr>
        <td> Rol </td>
        <td> {{ data.response_table.query_result[0]['RoleName'] }} </td>
      </tr>
      <tr>
        <td> Departamento </td>
        <td> {{ data.response_table.query_result[0]['DepartmentName'] }} </td>
      </tr>
    </tbody>
  </table>